# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.cache/*
/output/*
test.*

/bin
/src/bin
/src/Makefile
/src/include

Makefile*

compile_commands.json

destination.json
source.json
dataSource.json

data/
struct_mapping/
pgfe/



*.env
